	<table>
	<tr>  
            <th>Links</th>  
       </tr>  
        <tr>  
        <td><a href ="https://tritechsc.gitlab.io/" target = "_blank">Tritech Gitlabs
	<tr>
	<td><a href ="https://gitlab.com/john1soul" target = "_blank"> gitlab.com/john1soul  
        </tr>
	<tr>
	</tr>  
    </table>  

